/* Table Styles */
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

/* Button Styles */
.delete-button {
    background-color: #FF5733; /* Red color */
    color: #FFFFFF; /* White text color */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-button:hover {
    background-color: #FF4122; /* Darker red on hover */
}

/* Header Styles */
h1 {
    background-color:  #007bff; /* Dark gray background */
    color: #FFFFFF; /* White text color */
    padding: 10px;
    text-align: center;
}

/* Form Styles */
form {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}



